
.container a {
  text-decoration: none;
  color: initial;
}

.container li a {
  display: grid;
  height: 280px;
  grid-template-rows:110%;
  align-items: center;
  overflow: hidden;
}

.container li a:link .menu_item {
  animation: 3s forwards move-down-initialmenu-noHover;
}
.container li a:link .menu_item_active {
  animation: 3s forwards move-down-activemenu-noHover;
}
li a:hover > .menu-item {
  animation: 3s forwards move-up-initialmenu-onHover;
}
.container li a:hover > .menu_item_active {
  animation: 3s forwards move-up-activemenu-onHover;
}

.container .menu_item_active {
  color: red;
}
@keyframes move-up-initialmenu-onHover {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes move-up-activemenu-onHover {
  100% {
    transform: translateY(-70%);
  }
}
@keyframes move-down-initialmenu-noHover {
  0% {
    transform: translateY(-100%);
  }
}
@keyframes move-down-activemenu-noHover {
  0% {
    transform: translateY(-70%);
  }
}


