.draggableOne {
  width: 100px;
  height: 100px;
  display: flex;
  color: #fff;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: hsl(204, 16%, 61%);
  transition: left 0.3s ease, top 0.3s ease;
}

.draggableTwo {
  width: 100px;
  height: 100px;
  display: flex;
  color: #fff;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: #3498db;
  transition: left 0.3s ease, top 0.3s ease;
}
