.animated_cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b0ef10;
  animation: pulse 1.5s infinite;
  pointer-events: none;
  z-index: 9999;
  background-image:url('https://avatars.githubusercontent.com/u/101568029?s=400&u=e598ac162fc7a1bfc379944406a21ccc061aefe6&v=4');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  50% {
    transform: scale(1.6);
    clip-path: polygon(100% 0%, 20% 50%, 100% 100%, 10% 50%);
  }
  100% {
    transform: scale(1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

