.grid_box {
  column-count: 3;
  column-width: 33%;
  padding: 0 12px;
  margin: 30px 0px;
}
.grid_box > div {
  cursor: pointer;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 6px;
}
.grid_box > div:hover {
  filter: opacity(0.8);
}
.grid_box > div > img {
  transform: scale(1.2);
  transition: transform 200ms ease-in-out;
}
.grid_box > div:hover > img {
  transform: scale(1);
}

@media (max-width: 991px) {
  .grid_box {
    column-count: 2;
  }
}

@media (max-width: 550px) {
  .grid_box {
    column-count: 1;
  }
}
