.sush {
  text-align: center;
  font-size: 150px;
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWxtNzdiMmQyOWU0aG83NjFrYmJjNDB3ZjNtdGxvNWU2OWJyYmswOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RkhMKpIYLT9sukfuXg/giphy.gif");
  background-position: center;
  background-clip: text;
  font-weight: 800;
  color: transparent;
  border: 1px solid black;
  border-radius: 50px;
  margin: 10px;
}
