.cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.load {
  width: 200px;
  height: 200px;
  border-left: 5px solid #38ff8e;
  border-radius: 50%;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.load2 {
  width: 150px;
  height: 150px;
  border-right: 5px solid #a8f307;
  border-radius: 50%;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load3 {
  width: 100px;
  height: 100px;
  border-top: 5px solid #fa0c8b;
  border-radius: 50%;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load4 {
  width: 50px;
  height: 50px;
  border-bottom: 5px solid #b303f3;
  border-radius: 50%;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load:hover,
.load2:hover,
.load3:hover,
.load4:hover {
  animation: right5231 0.9s linear infinite, rotateLoader 2s linear infinite;
}

@keyframes rotateLoader {
  to {
    transform: rotate(360deg);
  }
}

/* 2nd */

.loader {
  width: 200px;
  height: 200px;
  border-left: 5px solid #38ff8e;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.loader2 {
  width: 200px;
  height: 200px;
  border-right: 5px solid #a8f307;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader3 {
  width: 200px;
  height: 200px;
  border-top: 5px solid #fa0c8b;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader4 {
  width: 200px;
  height: 200px;
  border-bottom: 5px solid #b303f3;
  animation: right5231 0.9s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont:hover .loader {
  animation: right5231 0.9s linear infinite, rotateLoader 4s linear infinite;
  border-radius: 50px;
  border-right: 5px solid #38ff8e;
}
.cont:hover .loader2 {
  animation: right5231 0.9s linear infinite, rotateLoader 3s linear infinite;
  width: 150px;
  height: 150px;
  border-radius: 170px;
}
.cont:hover .loader3 {
  animation: right5231 0.9s linear infinite, rotateLoader 2s linear infinite;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.cont:hover .loader4 {
  animation: right5231 0.9s linear infinite, rotateLoader 1s linear infinite;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

@keyframes rotateLoader {
  to {
    transform: rotate(-360deg);
  }
}

/* 3rd */

.loaderBox {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.snake {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  animation: moveSnake 4s linear infinite, rotateHead 0.5s infinite;
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff5722;
  border-radius: 50%;
  animation: moveFood 4s linear infinite;
}

@keyframes moveSnake {
  0% {
    left: 0;
  }
  15% {
    left: 50px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: 100px;
    top: 100px;
  }
  65% {
    left: 0;
    top: 100px;
  }
  80% {
    left: 0;
    top: 100px;
  }
  90% {
    left: 0;
    top: 0;
  }
  100% {
    left: 10;
    top: 10;
  }
}

@keyframes moveFood {
  0%,
  50% {
    left: 75px;
    top: 75px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes rotateHead {
  0%,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* bubble loader */

.bubble_loader {
  display: flex;
  gap: 15px;
}
.bubble_loader div {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  animation-name: bubble-loader;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.bubble_loader div:nth-child(1) {
  animation-delay: 0.4s;
}
.bubble_loader div:nth-child(2) {
  animation-delay: 0.8s;
}
.bubble_loader div:nth-child(3) {
  animation-delay: 1.2s;
}
@keyframes bubble-loader {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* circle dot loader */

.circle_dot_loader {
  display: flex;
  width: 100px;
  justify-content: space-between;
  animation-name: dot_loader;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: normal;
}
.circle_dot_loader div {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
.circle_dot_loader div:nth-child(1){
  box-shadow: rgba(0, 0, 0, 0.56) 0px 10px 4px 0px;
  justify-content: space-between;
  animation-name: dot1_animation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 200ms;
  animation-direction: normal;

}
.circle_dot_loader div:nth-child(2){
  box-shadow: rgba(192, 16, 16, 0.56) 0px 10px 4px 0px;
  justify-content: space-between;
  animation-name: dot2_animation;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 100ms;
  animation-direction: normal;

}

@keyframes dot_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dot1_animation {
  0%{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 4px 0px;
  }
  50%{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 13px 4px 0px;
  }
  100%{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 4px 0px;
  }
}
@keyframes dot2_animation {
  0%{
    box-shadow: rgba(0, 0, 0, 0.56) 0px -5px 4px 0px;
  }
  50%{
    box-shadow: rgba(0, 0, 0, 0.56) 0px -10px 4px 0px;
  }
  100%{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 4px 0px;
  }
}


/* arc loader */

.arc_loader{
  border: 10px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation-name: arc_loader;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 100ms;
  animation-direction: normal;

}

@keyframes arc_loader {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
   
  }
}